#
#### Requirements for mlRatings module ####
#
#### With type specifiers where possible ####
#
Flask == 1.0.2
matplotlib == 2.2.2
numpy == 1.14.5
pandas == 0.23.3
#
#### Install requirements using command `pip3 install -r requirements.txt`
#